body {
    background-color: #63686E;
    margin: 10px;
    font-family: 'Kanit', sans-serif;
  }

  #search-button {
    border-radius: 5px;
  }

  #search-history-item {
    display: flex;
    flex-wrap: wrap;
    margin-right: 200px;
  }

  header {
    font-size: 35px;
    text-align: center;
    font-weight: bold;
    color: #D8DBDE;
  }

  .form-check-label {
    font-weight: bold;
  }

  button {
    margin: 5px;
    font-weight: bold;
  }
  
  main {
    margin-right: 200px;
  }
  
  .container {
    margin-left: 50px;
  }
  
  .list-group {
    position: fixed;
    top: 0;
    right: 0;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 95%;
    width: 200px;
    background-color: #D8DBDE;
  }
  
  .list-group-item {
    display: flex;
    justify-content: space-around;
    gap: 25px;
  }
  
  .card-group {
    gap: 20px;
    align-items: center;
    margin-right: 200px;
  }
  
  .card {
    display: flex;
    margin: 10px;
    padding: 15px;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    gap: 20px;
    background-color: #1D2545 ;
    border-radius: 10px !important;
    box-shadow: 10px 10px 5px #3F3F41;
    width: min-content;
  }
  
  .card-img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #actor-search {
    margin: 10px;
  }

  img {
    border-radius: 10px;
  }

  .stream-icon {
    max-width: 75%;
    max-height: 75% !important;
  }

  .card:hover{
    background-color: #F0F0F0 ;
  }

  img:hover {
    filter: grayscale(100%);
  }
  
  @media (min-width: 576px) {
    .card-group > .card {
      flex: initial;
      margin-bottom: initial;
    }
  }
  