body {
    background-color: cadetblue;
}
main {
    margin-right: 200px;
}
.list-group {
    position: fixed;
    padding-left: 15px;
    top: 0;
    right: 0;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 95%;
    width: 200px;
    background-color: burlywood;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    overflow: auto;
    background-color: blueviolet;
}